@import "semantic-ui";

body {
  background-color: lightgray ;
}

.my-menu {
  border-radius: 0 !important;
}

.my-card {
  border: 1px solid black;
  border-radius: 5px;
  height: 500px;
}

.my-content {
  padding: 20px;
}

.my-input {
  width: 95% !important;
  margin: 20px !important;
}
